@media (min-width: 481px) and (max-width: 768px) {

    #footer {
        padding-top: 3%;
        padding-bottom: 1%;
    }

    #navbar img {
        margin: 0 auto;
    }

    #navbar img {
        max-height: 53px;
    }

    #navbar .nav-bar-blue, #navbar .logo {
        padding-left: 0;
        padding-right: 0;

    }

    #sessionOne {
        padding-bottom: 5%;
    }

    #sessionOne .row, #sessionTwo .row, #navbar .row {
        margin-left: 0;
        margin-right: 0;
    }

    #sessionOne .col-lg-8 {
        display: none;
    }

    #sessionOne .row {
        padding-right: 0;
    }

    #sessionTwo span {
        padding: 5%;
    }

    #sessionTwo p {
        padding: 1% 7% 1% 5%
    }

    #sessionFour button {
        margin-bottom: 4%;
        margin-top: 2%;
        width: 100%;
    }

    .borderWhite {
        margin-top: 1%;
    }

    .circleFacebook {
        padding: 18px 22px;
    }

    .circleTwitter {
        padding: 17px 17px;
    }

    .circleYoutube {
        padding: 13px 17px;
    }

    .noneStyleLi {
        padding-left: 18%;
    }

    #sessionOne ul.noneStyleLi li {
        margin: 7px;
    }

    .navbar {
        margin-bottom: 0;
    }

    .navbar-form {
        padding: 10px 27px;
    }

    .publicity {
        padding: 4%;
    }

}